
body {
    background-color: rgba(218, 81, 27, 0.797);
   
}

#taca {
        width: 50%;
}
h1 {
    color:rgb(218 81 27 / 95%)
} 
p {
    text-align: center;
    background: #e8f138;
}

.país {
    color: blue
}
ul {
    display: in
}